/* @font-face {
  font-family: 'Andruha700';
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'Open-Sans400';
  src: url(../fonts/OpenSans-Regular.ttf);
} */

:root {
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  /* display: inline-block;
  vertical-align: middle;
  margin-right: 20px; */
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  /* transition: background-color 300ms ease, color 300ms ease; */
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.btn:is(:hover, :focus) {
  background-color: #ff6c00;
  color: var(--first-btn-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/** -----------------HEADER ------------------*/

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 300ms ease;
}

/* .header-link:is(:hover, :focus) {
  color: #ff6c00;
} */

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.header-address {
  margin-left: auto;
  margin-right: 42px;
}

.header-address-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-button {
  color: #ffffff;
}

/** -----------------HERO ------------------*/

.hero {
}

.hero-container {
  display: flex;
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 28px;
  padding-bottom: 40px;
}
.hero-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
}

.hero-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-wrap {
  background-color: #7c7f8c;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
}
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.hero-title::before {
  content: '';
  width: 40px;
  height: 40px;
  background-color: tomato;
}

.hero-title::after {
  content: '!';
  color: tomato;
  font-size: 100px;
}

.hero-post-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/** -----------------ABOUT ------------------*/

.about > .container {
  display: flex;
  gap: 30px;
}

.about-wrap {
  padding-right: 100px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
}
.about-pic {
}
.about-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.about-pre-title::before {
  background-color: #303030;
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about-post-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-button {
  color: #303030;
}

/** -----------------PRICES ------------------*/

.prices {
  background-color: #303030;
}

.prices-wrap {
  display: flex;
  gap: 30px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}
.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: baseline;
}

.prices-item::before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.prices-item-text:first-child {
  order: -1;
}

/* .prices-item:not(:last-child) {
  margin-bottom: 20px;
} */

.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.prices-button {
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}

/** -----------------BENEFITS ------------------*/

.benefits-container {
  display: flex;
  padding-left: 85px;
  gap: 130px;
  padding-right: 115px;
}

.benefits-wrap {
  padding-top: 9px;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000000;
  padding: 20px 24px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  display: block;
  margin-bottom: 6px;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-count::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: transparent;
  display: inline-block;
  vertical-align: top;
  text-shadow: 1px 9px #ff6c00;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}
.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/** -----------------BARBERS ------------------*/

.barbers-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-item:hover .barbers-top-text {
  transform: translateY(0);
}

.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-top-text {
  position: absolute;
  top: 0;
  padding: 40px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.6;
  background-color: rgba(255, 106, 0, 0.51);
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.barbers-item-wrap {
  padding-top: 30px;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}
.barbers-soc-link {
  width: 100%;
  height: 100%;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.barbers-soc-icon {
  fill: currentColor;
}

.barbers-soc-link:hover {
  background-color: teal;
  color: yellow;
}

/* .barbers-soc-link:hover {
  background-color: teal;
}

.barbers-soc-link:hover .barbers-soc-icon {
  fill: yellow;
} */

/** -----------------Gallery ------------------*/

.gallery-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 60px 30px; */
  column-gap: 30px;
  row-gap: 60px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}

.contact-wrap {
  background-color: #000000;
}

.contact-wrap > .container {
  display: flex;
}

/** -----------------ONLINE ------------------*/

.online {
  width: calc(50% + 15px);
}

.online-title {
  color: var(--first-title-color);
}

/** -----------------CONTACTS ------------------*/

.contacts {
  width: calc(50% - 15px);
  padding-left: 105px;
  background-color: #7c7f8c;
}
.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}
.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}
.contacts-list {
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item:first-child > .contacts-link {
  font-weight: 700;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/** -----------------FOOTER ------------------*/

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}
.footer-list {
  display: flex;
  gap: 40px;
}

.footer-item {
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.532);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: azure;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%);
}

.modal-close {
  border: 1px solid #999999;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
